<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html">
    <title>Create comment</title>
</head>
<body>
<div class="container">
    <form id="create-form" th:method="post" th:object="${comment}"
          th:action="@{/comment/new(bookId=${bookId})}" action="new.html">
        <h1>Create new comment:</h1>

        <div class="form-group">
            <label for="holder-input">Text:</label>
            <input id="holder-input" name="text" type="text" class="form-control" th:value=" ${comment.text}"
                   value="John Doe"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('text')}" th:errors="${comment.text}">
                Error</small>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
