<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html">
    <meta charset="UTF-8"/>
    <title th:text="|Genre editing|">Edit entity</title>

</head>
<body>
<div class="container">

    <form id="edit-form" th:action="@{/genre/edit}" th:object="${genre}" th:method="post" action="edit.html">
        <h1>Genre Info:</h1>

        <div class="form-group">
            <label>ID:</label>
            <label th:text="${genre.id}"> id </label>
            <input id="id-input" type="hidden" readonly="readonly" th:field="${genre.id}" placeholder="Id"
                   value="1"/>
         </div>

        <div class="form-group">
            <label for="holder-input">Text:</label>
            <input id="holder-input"   class="form-control" name="title" type="text" th:value="${genre.title}" value="John Doe"/>

            <small class="form-text text-muted"  th:if="${#fields.hasErrors('title')}" th:errors="${genre.title}">genre Error</small>
        </div>

        <div class="form-group">
            <label for="book-select">Books</label>
            <select id="book-select" th:field="*{books}" size="3"  class="form-control" multiple="multiple">
                <option th:each="book : ${allBooks}"
                        th:value="${book.id}"
                        th:text="${book.title}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>

    </form>
</div>
</body>
</html>
