<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header.html">

    <meta charset="UTF-8"/>
    <title th:text="|Book creating|">Edit entity</title>

</head>
<body>
<div class="container">
    <h1>Book Create:</h1>

    <form id="edit-form" th:action="@{/book/new}" th:object="${book}" th:method="post"
          action="new.html">
        <div class="form-group">
            <label for="holder-input">Title:</label>
            <input id="holder-input" name="title" type="text" th:value="${book.title}" class="form-control"
                   value="John Doe"/>
            <small class="form-text text-muted" th:if="${#fields.hasErrors('title')}"
                   th:errors="${book.title}">bookError</small>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>
